h1, h2, h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.catchphrase h1 span{
    font-family: "Pinyon Script", cursive;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.15em;
    color: #A87C43 !important;
}

h1 span{
    color: #A87C43 !important;
}



p{ 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #FAD1D1 !important;
}

/*HERO IMAGE*/
.hero-img {
    width:100%;
    height:60vh;
    background: url('../img/breathless-hero.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /*background-attachment: fixed;*/ /*per mantenere l'immagine fissa durante lo scroll, ma ho deciso di rimuoverlo per evitare problemi di visualizzazione della hero image*/
}

.catchphrase h1{
    color:#D4EFE2 !important;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.751) !important;
}

/*per avere il viewport responsive e rimpicciolire l'immagine nei dispositivi più piccoli*/
@media (max-width: 520px) {
    .hero-img{
        height: 30vh !important;
        background-position: 20% center !important;
    }
}

@media (min-width:521px) and (max-width: 768px) {
    .hero-img {
        background-position: 50% center !important;
    }
}

@media (max-width: 992px) {
    .hero-img{
        height: 40vh;
        background-position: 35% center;
    }

}

@media (min-width:769px) and (max-width: 942px){
    .hero-img {
        background-position: 70% center !important; 
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    header#prova {
        background-position: 60% center; 
    }
}

@media (min-width: 1312px){
    .space-maker{
        height: 85% ;
    }
}

hr{
    color:#A87C43;
    border-top:2px solid currentColor;
    opacity: 1;
}

.paper-card {
    /*background-color:rgba(255, 0, 60, 0.32);*/
    background-color: #D4EFE2;
    color:#1A1A1A;
    border-radius: 12px;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.068);
    background-image:
        url(../img/rococo-ornament-left.png),
        url(../img/rococo-ornament-right.png);
    background-position: top left, top right;
    background-size: 10% auto, 10% auto;
    background-repeat: no-repeat, no-repeat;
}

@media (min-width: 1400px){
    .paper-card {
        background-size: 60px auto, 60px auto;
        background-position: left 0 top 10px, right 0 top 10px;
    }
}

@media (max-width: 767px), (min-width: 1199px) and (max-width: 1399px){
    .paper-card {
        background-image: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .paper-card {
        background-size: 50px auto, 50px auto;
        background-position: left 60px top 0px, right 60px top 0px;
    }
}

.paper-card h3{
    color: #A87C43; 
}

.bi-chevron-down {
    position: absolute !important;
    top: 0.3rem;
    right: 0.75rem; 
    font-size: clamp(1rem, 0.8rem + 1vw, 1.75rem) !important;
    color: #A87C43 !important;
    margin: 0;
    -webkit-text-stroke: 1px currentColor;
}

a[aria-expanded="true"] i {
    transform: rotate(180deg);
    display: inline-block;
    transition: transform 0.3s ease;
}

a[aria-expanded="false"] i {
    transition: transform 0.3s ease;
}

@media (min-width: 767px) and (max-width: 928px){
    .pretty-catch{
        display: block !important;
    }
}
@media (min-width: 1312px){
    .pretty-big-catch{
        display: none !important;
    }
}

@media (min-width: 796px){
    .pretty-title{
        display: none;
    }
}
@media (max-width: 795px){
    .pretty-title{
        display: block;
    }
}

/*FINE HERO IMAGE*/


/*PER LE DUE CARD ESPLORA E SCOPRI DI PIU'*/

/*per lo zoom delle card*/
.zoom-card .img-fluid{
    transition: transform .75s ease;
}

    /* 2. Quando l'utente passa il mouse sulla CARD, l'immagine si ingrandisce del 10% (scale 1.1) */
.zoom-card:hover .img-fluid {
    transform: scale(1.1);
}

.zoom-card:hover .card-title{
    color: #A87C43 !important;
    transition: transform 1.5s ease;
}

.zoom-card:hover .responsive-title-sm{
    font-weight: 800;
}

.responsive-title {
    font-size: clamp(1.5rem, 1.2rem + 2vw, 2.25rem);
}

.responsive-title-sm{
    font-size: clamp(0.75rem, 0.8rem + 1.5vw, 2rem) !important;
}

/*FINE PER LE DUE CARD ESPLORA E SCOPRI DI PIU'*/

/*Per le immagini delle carte esplora*/
.explore-card{
    filter: grayscale(1) brightness(100%);
}

.zoom-card:hover .explore-card{
    filter: grayscale(1) brightness(60%);
}
