body {
    background-color: #faf1ea;
}
#map { height: 500px; }
.navbar{
    background-color: #1a1a1a;
}

.navbar-text, .nav-link {
    color: #faf1ea;
}

.page_content /*l'ho usato per dare un colore di sfondo uniforme a tutto il contenuto della pagina*/ {
    background-color: #faf1ea; 
}